<header class="wrapper row">
    <!-- Logo image -->
    <img src="../../../assets/images/oc-logo.svg" alt="Logo image" class="logo" />
    <form (ngSubmit)="onSubmit()">    
    <button type="submit">Log-out</button>
    </form>
    <form (ngSubmit)="onSubmit2()">    
    <button type="submit">Cart</button>
    </form>
    <!-- Navigation -->
    <!-- <div class="row gap-1">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        <a routerLink="/about-us" routerLinkActive="active">About</a>
    </div> -->
</header>
