<div class="column gap-1">
    <!-- Add Product Button -->
    <!-- <button type="button" pButton icon="pi pi-plus" (click)="toggleAddPopup()" label="AddProduct"></button> -->
  <!-- Products -->
      <form (ngSubmit)="onSubmit()">    
    <button type="submit">Log-out</button>
    </form>
    <form (ngSubmit)="onSubmit2()">    
    <button type="submit">Cart</button>
    </form>
  <div class="row wrap gap-1 space-between">
    <app-product
      *ngFor="let product of products"
      [product]="product"
      (edit)="toggleEditPopup($event)"
      (delete)="toggleDeletePopup($event)"
      (click)="selectedProd(product)"
    ></app-product>
  </div>

  <!-- Paginator -->
  <p-paginator
    (onPageChange)="onPageChange($event)"
    [rows]="rows"
    [totalRecords]="totalRecords"
    [rowsPerPageOptions]="[5, 10, 20]"
  />
</div>

<!-- Edit Product -->
<app-edit-popup
  [product]="selectedProduct"
  [(display)]="displayEditPopup"
  (confirm)="onConfirmEdit($event)"
  header="Edit Product"
></app-edit-popup>

<!-- Add Product -->
<app-edit-popup
  [(display)]="displayAddPopup"
  (confirm)="onConfirmAdd($event)"
  header="Add Product"
></app-edit-popup>
