<div class="button-group">
  <button pButton type="button" label="Cart" (click)="onSubmit2()" class="p-button-outlined"></button>
  <button pButton type="button" label="Home" (click)="goHome()" class="p-button-outlined"></button>
  <button pButton type="button" label="Log-out" (click)="logout()" class="p-button-outlined"></button>
</div>
<div class="cart-container">
  <h1>Your Orders</h1>
  <!-- <button type="button" (click)="logout()">Log-out</button>
  <button type="button" (click)="checkout()">Cart</button> -->
  <div *ngIf="cartProducts.length > 0; else emptyCart">
    <div *ngFor="let product of cartProducts" class="cart-product">
      <img [src]="product.image" [alt]="product.name" class="product-image" />
      <div class="product-details">
        <h2>{{ product.name }}</h2>
        <p>{{ product.info }}</p>
        <p>Price: ${{ product.price.toFixed(2) }}</p>
        <p>Quantity: {{ product.qty }}</p>
        <p>Rating: {{ product.rating }}</p>
      </div>
    </div>
  </div>
  <ng-template #emptyCart>
    <p>Your cart is empty.</p>
  </ng-template>
</div>
