.cart-container {
    padding: 20px;
}

.cart-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.cart-product {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.cart-product:last-child {
    border-bottom: none;
}

.product-image {
    aspect-ratio: 1;
    object-fit: contain;
    width: 100px;
    border-radius: 15px;
    background-color: grey;
    margin-right: 20px;
}

.product-details {
    flex: 1;
}

.product-details h2 {
    margin: 0;
    font-size: 18px;
}

.product-details p {
    margin: 5px 0;
}

.button-group {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    justify-content: space-between;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.empty-cart {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #777;
}